.container-header{
    background-color: var(--color1);
    color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    align-self: flex-start;
    z-index: 16;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 8px 25px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 8px 25px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 8px 25px -10px rgba(0,0,0,0.75);
}