* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color1: #0a1d56;
  --color2: #492e87;
  --color3: #37b5b6;
  --color4: #f2f597;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.aling-center {
  align-items: center;
}

.btn-bd-primary {
  --bs-btn-font-weight: 400;
  --bs-btn-color: white;
  --bs-btn-bg: var(--color3);
  --bs-btn-border-color: var(--color3);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--color3);
  --bs-btn-hover-bg: white;
  --bs-btn-active-color: var(--color3);
  --bs-btn-active-bg: white;
}

.btn-bd-primary:hover{
  border: 1px solid var(--color3);
}
