* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3e4;
}

footer {
  color: rgb(190, 189, 189);
  background-color: var(--color1);
  height: 20vh;
}

:root {
  --color1: #0a1d56;
  --color2: #482e85;
  --color3: #37b5b6;
  --color4: #f2f597;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.aling-center {
  align-items: center;
}

.btn-bd-primary {
  --bs-btn-font-weight: 400;
  --bs-btn-color: white;
  --bs-btn-bg: var(--color3);
  --bs-btn-border-color: var(--color3);
  --bs-btn-hover-color: var(--color3);
  --bs-btn-hover-bg: white;
  --bs-btn-active-color: var(--color3);
  --bs-btn-active-bg: white;
  border-radius: 0.3rem;
  display: flex;
}

.btn-bd-primary:hover {
  border: 1px solid var(--color3);
}

.btn-bd-secondary {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--color3);
  --bs-btn-bg: white;
  --bs-btn-border-color: var(--color3);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--color3);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--color3);
}

.btn-bd-secondary:hover {
  border: 1px solid white;
}

hr {
  width: 22.1vw;
}

h2 {
  font-size: 3rem;
  color: white;
}