.bg-h1 {
  background-image: url(../assets/baner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.bg-h1 h1 {
  color: white;
  
  font-size: clamp(1.5rem, 2.0138rem + 3.3218vw, 4.5rem);
}

/* Estilo del texto con contorno sin relleno */
.text-outline {
  -webkit-text-stroke: 3px var(--color3);
  color: transparent;
}

.glow {
  font-size: clamp(1.5rem, 0.3571rem + 5.7143vw, 7.5rem);
}

.container-h1 {
  margin-left: 5vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}




.container-cards-section{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh 0px;
  
}


.container-cards-section h2{
  margin: 5vh 0px;
}


.container-cards{
  
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}



@media screen and (min-width: 378px) and (max-width: 600px) {
  .container-h1 {
    display: flex;
  }

  .bg-h1 {
    height: 40vh;
  }
}

@media screen and (min-width: 1025px)  {

}