.bg-h1 {
  background-image: url(../assets/baner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.bg-h1 h1 {
  color: white;
  border: 1px solid red;
  font-size: clamp(3rem, 2.0138rem + 3.3218vw, 6rem);
}

/* Estilo del texto con contorno sin relleno */
.text-outline {
  -webkit-text-stroke: 3px var(--color3);
  color: transparent;
}

.glow {
  border: 1px solid red;
  font-size: clamp(1.5rem, -1.3333rem + 9.4444vw, 10rem);
}

.container-h1 {
  margin-left: 5vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid red;
}

@media screen and (max-width: 480px) {
  .bg-h1 {
    height: 40vh;
    border: 1px solid red;
  }

  .bg-h1 h1 {
    border: 1px solid red;
  }
  .glow {
    font-size: ;
    border: 1px solid red;
  }


}
