.borde {
  border: 1px solid red;
}

.eslogan {
  color: white;
  font-size: clamp(0.6rem, 0.54rem + 0.3vw, 2rem);
}

.eslogan:hover {
  color: white;
}

.navbar-nav {
  width: 100%;
}

.container-ul {
  max-width: 20vw;
}

.logo {
  margin-left: 20px;
  width: 7vw;
}

.container-buttons {
  margin-right: 20px;
  width: 200px;
}

.navbar-toggler {
  background-color: white;
  margin-right: 20px;
}
