.container-plataformas{
  margin: 5vh 0px;
  flex-wrap: wrap;
  gap:10px;
}


.contenido-plataforma{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: transform 0.15s ease;
}

.contenido-plataforma:hover{
  transform: translateY(-10px);
}


.contenido-plataforma>img{
  width: 5vw;
}
