/* Importando la fuente Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --container-color: hsl(0, 0%, 100%);
  --first-color: #1976d2;
}

/*=============== CARD ===============*/
/* Estilos de la card */
.card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  position: relative;
  overflow: hidden;
  width: 250px; /* Ajusta el tamaño de las tarjetas según sea necesario */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  background-color: var(--container-color);
}

.card__img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card__data {
  padding: 10px;
  text-align: center;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--title-color);
  margin: 10px 0;
}

.card__description {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 10px;
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
}

.btn-accion {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--first-color);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-accion:hover {
  background-color: darken(var(--first-color), 10%);
}

/* Hover effect for card */
.card:hover {
  transform: scale(1.05);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .card__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}



