.card-plataforma-container {
text-align: center;
margin: 40px 0;
background-color: #f0f0f0;
padding: 20px 0;
}

.card-plataforma-container h2 {
font-size: 1.5em;
margin-bottom: 20px;
color: #333;
}

.plataformas {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.plataforma {
display: flex;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 50%;
width: 100px;
height: 100px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out;
}

.plataforma-logo {
width: 60%;
height: auto;
}

.plataforma:hover {
transform: scale(1.1);
}
