/* DetalleProducto.css */
.img-principal{
  max-width: 30vw;
  margin-left: 5vw;
}

.img-secundaria{

}

.container-img-secundaria-general{
  margin-left: 5vw;
  flex-wrap: wrap;
  display: flex;
  width: 30vw;
  gap: 10px;
}


.container-img-secundaria{
width: 45%;
height: 18vh;
border: 1px solid yellow;
margin: auto;
}

.titulo-descripcion-detalle{
  padding: 10px ;
}

.titulo-descripcion-detalle> h2{
  font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
}

.titulo-descripcion-detalle > p{
  font-size: clamp(1rem, 0.6rem + 2vw, 1.5rem);
  font-weight: 200;
}