/* DetalleProducto.css */
.img-principal{
  max-width: 30vw;
  margin-left: 5vw;
}

.img-secundaria{
  max-width: 10vw;
}

.container-img-secundaria{
  gap:20px;
  margin-left: 5vw;
  flex-wrap: wrap;
  display: flex;
  width: 80%;
}

.titulo-descripcion-detalle{
  padding: 10px ;
}

.titulo-descripcion-detalle> h2{
  font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
}

.titulo-descripcion-detalle > p{
  
}