.mySwiper {
  height: 50vh;
  width: 100%;
  padding-bottom: 5vh;
  
}

.slider-img-container {
  display: flex;
  align-items: center;
  max-width: 80%;
  padding: 20px;
  border: 1px solid red;
  flex-direction: column;
}

.slider-img-container img {
  width: 100%;
  height: 90%;

  border-radius: 20px;
}

.container-link{
  max-width: 80%;
  border: 1px solid rgb(31, 28, 184);
}

.link-slider{
  font-size: 1.5rem;
}

@media screen and (max-width: 475px) {
  .mySwiper {
    height: auto;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .mySwiper {
    padding-bottom: 10vh;
  }
}