#main {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #F2F597;

}

#main_agregador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #37B5B6;
}

#h2_agregador {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #0A1D56;
}

#form_agregador {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.label_agregador {
  font-weight: bold;
  margin-bottom: 10px;
}

.input_agregador {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#button_agregador {
  padding: 10px 20px;
  background-color: #F2F597;
  color: #0A1D56;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button_agregador:hover {
  background-color: #0056b3;
  color: #F2F597;
}
