.container-detalle{
  padding: 5vh;
  margin-bottom: 8vh;
  color: white;
  text-align: center;
  border-radius: 1rem;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
}
.container-color{
  background-color: rgba(10, 29, 86, 0.7);
  border-radius: 1rem;
  padding: 20px;
  
}
.h3-caracteristicas{
  
}

.container-caracteristicas {
    
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye el espacio entre las características */
  }
  
  .caract {
    padding: 10px;
    margin-bottom: 10px; /* Espacio entre las características */
    ; /* Ancho de cada característica (33.33% del contenedor menos el margen) */
  }
  
  .img-caracteristicas {
    max-width: 2vw;
    height: auto;
  }
  .caractGaleria{
    background-color: rgb(10, 29, 86);
    border-radius: 0.5rem;
  }
  