/* detalleReserva.css */


  
  /* Centrar la imagen */
  .imagen-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Ajustar el tamaño según sea necesario */
    border-radius: 8px;
  }
