/* detalleReserva.css */
.imagen-centrada {
  display: block;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.plataforma-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plataforma-imagen {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}

.titulojuego-card {
  font-weight: bold;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form .MuiTextField-root {
  margin-bottom: 16px;
}

form .MuiButton-root {
  margin-top: 16px;
}
