
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer > div > img{

    max-width: 15vh;
    
}

footer > div > p {
    text-align: center;
    position: relative;
    margin-top: 2rem;

}